@font-face {
    font-family: 'nunito';
    src: url(fonts/Nunito-VariableFont_wght.ttf) format('truetype');
    font-weight: 300; 
}
@font-face {
    font-family: 'rubik';
    src: url(fonts/Rubik-VariableFont_wght.ttf) format('truetype');
}
@font-face {
    font-family: 'volkhov';
    src: url(fonts/Volkhov-Bold.ttf) format('truetype');
}
@font-face {
    font-family: 'varino';
    src: url(fonts/VarinonormalRegular-1GXaM.ttf) format('truetype');
}
@font-face {
    font-family: 'interLight';
    src: url(fonts/Inter-VariableFont_slnt\,wght.ttf) format('truetype');
    font-weight:200;
}


/* FONTS */
html {
    font-size: 62.5%; /*root font size*/
}

h1 {
    text-align: center;
    font-family: 'varino', 'Lucida Console', cursive; 
    padding-left: 15px; 
    padding-right: 15px; 
}

h2 {
    font-family: 'volkhov', Cambria, Garamond, serif; 
    text-transform: uppercase;
    color: khaki;
}

p, a {
    font-family: 'nunito', 'Gill Sans', Tahoma, sans-serif; 
    text-align: left;
    color:aliceblue;
    text-decoration: none;
}
a span {
    font-family: 'interLight','Segoe UI', Georgia;
}
#blurb p {
    font-family: 'rubik', 'Trebuchet MS', 'Segoe UI', sans-serif; 
    text-align: center;    
    line-height: 1.6em;
    color: aliceblue;
}


/* Background image */
#intro {
    background-image: url(images/redblue.webp);
    background-size: cover;
}

/* decorative lines*/
hr {
    width: 65%;
    border: 5px solid rgb(89, 193, 174);
    background-color: rgb(89, 193, 174);
}

hr#one {
    border-radius: 0 18px;
}

hr#two {
    border-radius: 18px 0;
}

/* DIVS */

/*full size of viewport*/
.section {
    padding: 10% 5%;
    color:#f0f8ff;
}

/* intro page text container */
#blurb {
    width: 60%;
    margin: auto;
    margin-top:0px; 
    margin-bottom:0px;
}

/* project pages content box*/
.content {
    margin: 5%;
    display: flex;
    flex-direction: row;
    max-width: 90%;
    max-height: 70%;
    justify-content: space-between;
    align-items: center;
}
/* project pages text container */
.description {
    float: left;
    margin-right: 5%;
    flex-basis: 70%;
    flex-shrink: 1;
    flex-grow: 1;
    max-height:100%;
}
/* change order of layout**/
#description2 {
    float: right;
}
#examples2 {
    float: left;
}

/* image container */
.examples {
    float: right;
    align-self: center;
    text-align: center;
    flex-basis: 70%;
    flex-shrink: 2;
    flex-grow: 2;
    max-height: 100%;
}
/* image containers*/
div#mobile {
    display: none; 
    width: fit-content;
    max-height: 100%; 
}
div#desktop {
    display: inline-block; 
}

/*img styling*/
.images img, video {
    cursor: pointer;
    border-radius: 5px;   
}
#breakout img {
    border-radius: 5px;
    cursor: default;
    align-self: center;
    height: 100%;
    width: auto;
}
/*desktop image sizing*/
div#desktop .images img, video {
    width: 100%;
    height: auto;
}
/*mobile image sizing*/
div#mobile .images img {
    height: 100%;
    width: auto;
}

/* hide/show images */
.img0, .img1, .img2 {
    display: none;
}
.activeImg {
    display: block;
}

/* icons container*/
#icons {
    font-size: 40px;
    font-family: 'nunito', 'Gill Sans', Tahoma, sans-serif;
    color: aliceblue;
    cursor: pointer;
}


/* img tilt animation */
#examples2 img:hover {
    animation-name: tilt;
    animation-duration: 0.3s;
    animation-timing-function: ease;
}
@keyframes tilt {
    0% { transform: rotate(0deg); }
    60% { transform: rotate(-2deg); }
    95% { transform: rotate(1deg); }
    100% { transform: rotate(0deg); }
}


/*********************    MEDIA QUERIES    ************************/


/* Small devices (landscape mode) */ 
@media only screen and (max-height:415px) and (orientation:landscape) {
    /* fonts */
    h1 {
        font-size: 3.4rem;
    }
    .projects h1 {
        margin-bottom: 0px;
        margin-top: 5px;
    }
    #blurb p, h2, a  {
        font-size: 1.6rem;
    }
    p {
        font-size: 1.4rem;
        margin-block-start: 0em;
        margin-block-end: 0.5em;
    }
    .fp-watermark a {
        font-size: 1.3rem !important;
    }
    /* formatting */    
    hr {
        width: 65%;
        border: 4px solid rgb(89, 193, 174) !important;
    }
    #blurb {
        width: 90% !important;
        margin-top: 10px;
        margin-bottom: 10px;
    }    
    .section {
        padding: 5% 3%;
    } 
    .content {
        flex-direction: column;
        max-width: 95%;
        text-align: center;
    } 
    .description {
        float: none;
        margin-right: 0;
    }
    #description1, #description3 {
        margin-bottom: 25px;
    }
    /* multimedia sizing */
    div#desktop .images img, video {
        width: 350px;
    }
    div#mobile .images img, #breakout img {
        height: 250px;
    }

}

/* Extra small devices (phones) */ 
@media only screen and (max-width: 350px), (max-height: 350px) {
    /*fonts*/
    h1 {
        font-size: 2.8rem !important;
        padding: 0;
        margin-top:  0;
        margin-bottom: 15px;
    }
    #blurb p, h2, a {
        font-size: 1.4rem !important;
    }    
    p {
        font-size: 1.4rem !important;
    }    
    .fp-watermark a {
        font-size: 1.3rem !important;
    }
    /*formatting */
    hr {
        width: 75% !important;
        border: 3px solid rgb(89, 193, 174) !important;
    }
    #blurb {
        width: 90% !important;
    }
    .section {
        padding: 4% 3% !important;
    }
    /*multimedia*/
    div#mobile .images img {
        height: 250px;
    }

} 


/* vertical background image for mobiles */
@media only screen and (max-width: 600px) {
    #intro {
        background-image: url(images/redblueV.webp);
        background-size: auto;
    }
}


/* Change image size and navigation icons for small devices */ 
@media only screen and (max-width:768px) {
    /*fonts*/
    h1 {
        font-size: 3.6rem;
    }
    .projects h1 {
        margin-top: 15px;
        margin-bottom: 15px;
    }
    h2, a {
        font-size: 2rem;
        text-align: center;
    }
    p {
        font-size: 1.6rem;
    }
    #blurb p {
        font-size: 1.8rem;
    }
    /* formatting */   
    .section {
        padding: 5% 5%;
    }  
    hr {
        width: 85%;
        border: 4px solid rgb(89, 193, 174);
    }
    #blurb {
        width: 85%;
    }      
    .projects.fp-table {
        justify-content: flex-start;
    }    
    .content {
        flex-direction: column;
        margin-bottom: 20px;
        max-width: 90%;
        height: 90%;
        text-align: center;
    }
    .description {
        float: none;
        margin-right: 0;
    }
    #description1 {
        margin-top: 0px;
    }
    .examples {
        float: none;
        max-height: inherit; 
    } 
    #examples1, #examples2 {
        margin-top: 30px;
        margin-bottom: 15px;
    }
    /* multimedia sizing */
    #intro {
        background-image: url(images/redblueM.webp);
        background-size: cover;
    }
    #breakout img {
        margin: 10% 0 10% 0;
    }
}


/* Medium devices (portrait tablets, 768px and up) */ 
@media only screen and (min-width: 768px) and (orientation: portrait) {
    /* fonts */
    h1 {
        font-size: 5.6rem;
    }
    .projects h1 {
        margin-bottom: 25px; 
    }
    h2, a {
        font-size: 2.4rem;
        text-align: center;
    }
    p {
        font-size: 1.6rem;
    }
    #blurb p {
        font-size: 2.2rem;
    }
    /* formatting */
    .section {
        padding: 5% 5%;
    }
    .content {
        margin: 0% 5% 5% 5%;
        flex-direction: column;       
        max-height: 90%;
        text-align: center;
    }
    .description {
        float: none;
        margin-right: 0;
    }
    .examples {
        float: none;
        max-height: inherit; 
    }
    #examples1, #examples3 {
        margin-top: 40px;
    }
    #examples2 {
        margin-top: 30px;
        margin-bottom: 15px;
    }
    /* multimedia sizing */    
    #intro {
        background-image: url(images/redblueM.webp);
        background-size: cover;
    }
    div#mobile .images img, #breakout img {
        height: 350px;
    }
    div#desktop .images img, video {
        width: 550px;
    }
    #icons {
        font-size: 48px;
    }
    img#pc, img#mob {
        width: 34px;
        position: relative;
        top: 4px;
    }


}


/* Large devices (laptops/desktops, 992px and up) */ 
@media only screen and (min-width: 992px) {
    /* fonts */
    h1 {
        font-size: 5rem;
        margin-bottom: 30px;
    }
    .projects h1 {
        margin-bottom: 20px;
        margin-top: 20px;
    }
    h2, a {
        font-size: 2rem;
    }
    p {
        font-size: 1.5rem;
    }
    #blurb p {
        font-size: 1.8rem;
    }
    /*formatting*/
    .section {
        padding: 2% 3%; 
    }
    #description1 {
        margin-right: 2.5%;
    }
    #description2, #description3 {
        margin-right: 0;
        margin-left: 7%;
    }
    .content {
        align-items: flex-start;
        margin: 0% 2.5% 2.5% 2.5%;
        max-width: 95%;
        max-height: 80%;
    }
    div#desktop {
        margin-top: 50px;
    }
    #project3.fp-table {
        justify-content: flex-start;
    }
    #project3 .content {
        margin-top: 3%;
    }
    /* multimedia sizing */    
    div#mobile .images img, #breakout img {
        height: 320px;
        margin-top: 20px;
    }

}


/* Extra large devices (large laptops and desktops, 1200px and up), large tablets in portrait mode */ 
@media only screen and (min-width: 1200px) {
    /* fonts */
    h1 {
        font-size: 5.8rem;
        margin-bottom: 40px;
    }
    h2, a, #blurb p {
        font-size: 2.2rem;
    }
    p {
        font-size: 1.7rem;
    }
    /*formatting*/
    hr {
        width: 55%;
    }
    .section {
        padding: 2%;
    }
    .content {
        max-width: 95%;
        max-height: 90%;
        margin-top: 10px;
    }
    #description1 {
        margin-right: 5%;
    }
    .projects.fp-table {
        justify-content: flex-start;
    }
    /* nav span */
    #fp-nav ul li {
        width: 17px;
        height: 16px;
        margin: 9px;
    }
    /* active/hovered nav dots - larger size */
    #fp-nav ul li a.active span,    
    #fp-nav ul li:hover a.active span {
        height: 16px;
        width: 16px;
        margin: -8px 0 0 -8px;
    }
    /* inactive nav dots */
    #fp-nav ul li a span {
        width: 5px;
        height: 5px;
        margin: -2.5px 0 0 -2.5px;
    }
    /*multimedia sizing*/
    div#mobile .images img, #breakout img {
        height: 340px;
    }
    #icons {
        font-size: 50px;
    }
    img#pc, img#mob {
        width: 32px;
        top: 4px;
        position: relative;
    } 
}

@media only screen and (min-width: 1800px) {
        /* fonts */
    h1 {
        font-size: 7.2rem;
        margin-bottom: 40px;
    }
    h2, a, #blurb p{
        font-size: 3rem;
    }
    p, .fp-watermark a {
        font-size: 2.2rem;
    }
    /*formatting*/
    hr {
        width: 55%;
        border: 7px solid rgb(89, 193, 174);
    }
    .content {
        max-width: 95%;
    }
    /*multimedia sizing*/
    div#mobile .images img, #breakout img {
        height: 480px;
    }  
    div#desktop .images img, video {
        width: 720px;
    }
    #icons {
        font-size: 70px;
    }
    img#pc, img#mob {
        width: 45px;
        top: 5px;
        position: relative;
    } 
    .images img, video, #breakout img {
        border-radius: 10px;   
    } 
}

@media only screen and (min-width: 2400px) {
    /* fonts */
    h1 {
        font-size: 10rem;
        margin-bottom: 80px;
    }
    h2 {
        margin-top:0;
    }
    h2, a, #blurb p{
        font-size: 4.8rem;
    }
    p, .fp-watermark a{
        font-size: 3.2rem;
    }    
    /*formatting*/
    hr {
        width: 60%;
        border: 10px solid rgb(89, 193, 174);
    }
    .content {
        max-width: 100%;
        margin-top: 5%;
    }
    #description1 {
        margin-right: 5%;
    }
    .projects.fp-table {
        justify-content: flex-start;
    }
    /* nav span */
    #fp-nav.fp-right {
        right: 34px;
    }
    #fp-nav ul li {
        width: 28px;
        height: 26px;
        margin: 14px;
    }
    /* active/hovered nav dots - larger size */
    #fp-nav ul li a.active span,    
    #fp-nav ul li:hover a.active span {
        height: 24px;
        width: 24px;
        margin: -12px 0 0 -12px;
    }
    /* inactive nav dots */
    #fp-nav ul li a span {
        width: 8px;
        height: 8px;
        margin: -4px 0 0 -4px;
    }
    /*multimedia sizing*/
    div#mobile .images img, #breakout img {
        height: 650px;
    }
    div#desktop .images img, video {
        width: 950px;
    }
    .images img, video, #breakout img {
        border-radius: 15px;   
    }
    #icons {
        font-size: 90px;
    }
    img#pc, img#mob {
        width: 65px;
        top: 10px;
        position: relative;
    }

    
}


   